/* Your Custom CSS Goes here */
@keyframes shake {
    0%, 100% { transform: translateX(0); }
    25% { transform: translateX(-5px); }
    50% { transform: translateX(5px); }
    75% { transform: translateX(-5px); }
}

.shake-animation {
    animation: shake 0.5s;
}

@keyframes rollUp {
    from { transform: translateY(100%); opacity: 0; }
    to { transform: translateY(0); opacity: 1; }
}

.roll-up-animation {
    animation: rollUp 0.5s forwards;
}

@keyframes rollUpDisappear {
    from { transform: translateY(0); opacity: 1; }
    to { transform: translateY(-100%); opacity: 0; }
}

.roll-up-disappear-animation {
    animation: rollUpDisappear 0.5s forwards;
}
