/* Your Custom CSS Goes here */
@keyframes shake {
    0%, 100% { transform: translateX(0); }
    25% { transform: translateX(-5px); }
    50% { transform: translateX(5px); }
    75% { transform: translateX(-5px); }
}

.shake-animation {
    animation: shake 0.5s;
}

@keyframes rollUp {
    from { transform: translateY(100%); opacity: 0; }
    to { transform: translateY(0); opacity: 1; }
}

.roll-up-animation {
    animation: rollUp 0.5s forwards;
}

@keyframes rollUpDisappear {
    from { transform: translateY(0); opacity: 1; }
    to { transform: translateY(-100%); opacity: 0; }
}

.roll-up-disappear-animation {
    animation: rollUpDisappear 0.5s forwards;
}

/* Zanoření kategorií v administraci */
.category-indent-0 {
    padding-left: 0;
}
.category-indent-1 {
    padding-left: 5% !important;
}
.category-indent-2 {
    padding-left: 10% !important;
}
.category-indent-3 {
    padding-left: 15% !important;
}

.category-indent-4 {
    padding-left: 20% !important;
}

.category-indent-5 {
    padding-left: 22% !important;
}

.category-indent-6 {
    padding-left: 29% !important;
}

/* označení prvků s ohldem na potřebu vyplnění */
.required-label {
    font-weight: bold;
}
.valid-field {
    border-bottom: 2px solid green;
}
.invalid-field {
    border-bottom: 2px solid red;
}