<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                <div id="dropzone">
                    <form action="{{ domainData.SITE_WEB }}/admin/doUpload" class="dropzone needsclick" id="demo-upload">
                        <button id="uploadButton" type="button" style="display:none;">Upload Files</button>
                        <div class="dz-message needsclick">
                            <button type="button" class="dz-button">Přetáhněte sem soubory, které chcete nahrát</button><br />
                            <span class="note needsclick">(This is just a demo dropzone. Selected files are <strong>not</strong> actually uploaded.)</span>
                        </div>

                    </form>
                </div>
            </div>
        </div>
    </div>
</div>